h3 {
    margin: 0;
    max-width: 85%;
    text-align: center;
    font-size: clamp(1.1rem, 3vw, 1.6rem); 
    color: rgb(0, 0, 0);
 }

p {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: clamp(0.5rem, 2vw, 1.2rem);
    font-weight: 475;
    overflow-wrap: break-word;
    color: rgb(255, 255, 255);
}

a:link, a:visited { color: rgb(255, 255, 255); } 

body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("./assets/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    border-radius: 15px;
    padding: 20px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 250px), 1fr));
    gap: 20px;
    align-content: start;
    height: auto;
    min-height: 75vh;
    width: 100%;
    max-width: 1000px;
    background-color: rgba(179, 139, 109, 0.95);
}

button { border: none; }

#add-btn, .card {
    margin: 0 auto;
    padding: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    min-height: 170px;
    width: 100%;
    max-width: 250px;
    background-color: rgb(153, 101, 21);
}

#btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.toggle, .remove {
    border: none;
    border-radius: 50%;
    padding: 0;
    height: clamp(0.45rem, 1.4vw, 0.75rem); 
    width: clamp(0.45rem, 1.4vw, 0.75rem);
}

.toggle { background-color: rgb(173, 255, 47); }
.remove { background-color: rgb(255, 0, 0); }
.toggle:active { background-color: rgb(112, 167, 31); }
.remove:active { background-color: rgb(158, 0, 0); }

#add-btn:hover { cursor: pointer; }
#add-btn:active { background-color: rgb(134, 92, 28); }

#form-container {
    border: none;
    border-radius: 15px;
    height: min-content;
    max-height: 55vh;
    width: 100%;
    max-width: 25vw;
    overflow-y: hidden;
    background-color: rgb(44, 44, 44);
}

::backdrop { background-color: rgba(0, 0, 0, 0.45); }

form {
    display: grid;
    gap: 1rem;
    color: rgb(255, 255, 255);
}

.form-group { display: grid; }
fieldset { display: flex; flex-direction: column; gap: 0.65rem; }
fieldset:has(input[type="radio"]) { gap: 0.3rem;}
legend { font-size: clamp(1rem, 2.5vw, 1.5rem);  }

label { 
    font-size: clamp(0.7rem, 2vw, 1rem); 
    text-box-trim: trim-both; 
    text-box-edge: cap; 
}

input[type="text"], input[type="number"] {
    border: none;
    border-radius: 7px;
    padding: 0 0 0 5px;
    min-height: 1.75em;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgb(58, 58, 58);
 }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-group:has(input[type="radio"]) { 
    display: flex; 
    gap: 0.5ch; 
    accent-color: rgb(44, 44, 44);
}

#form-container button {
    border: none;
    border-radius: 7px;
    padding: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(58, 58, 58);
}

button[type="submit"] {
    height: 150%;
    width: 25%;
    min-width: 40px;
    grid-column: 1 / -1;
    justify-self: center;
    font-size: clamp(0.5rem, 1.2vw, 1rem);
}

button[type="button"] { height: 25px; width: 25px; }